



<%= turbo_stream_from current_user, "quotes" %>
  
  <main class="container">
  
  
      <div class="header">
        
        <h1>
          Quotes
        </h1>

        <%= link_to "New quote",
                    new_quote_path,
                    class: "btn btn--primary",
                    data: { turbo_frame: dom_id(Quote.new) } %>
      
      </div>
      
      <br>

      <div class="search-bar">  
        <%= search_form_for @q, url: quotes_path, method: :get, remote: true do |f| %>
            <%= f.text_field :name_cont, class: "search-field" ,  placeholder: "     Enter Quote Name" %>
            <%= f.submit "Search", class: "search-button btn btn--primary" %>
        <% end %>
      </div>        


        
       
      <br>

      <%= turbo_frame_tag Quote.new do %>
        
        <% if @quotes.none? %>
          <%= render "quotes/empty_state" %>          
        <% end %>
        


      <% end %>

      <%= turbo_frame_tag "quotes" do %>
   
        <%= render @quotes %>
      
      <% end %>
   
   

  </main>